@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transform: all 0.2s linear;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
  background-color: floralwhite;
  width: 100%;
}

/* Navigation Bar */

header {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 99;
}

.header {
  display: block;
  width: 100%;
}

.top {
  display: flex;
  margin-top: 2px;
  margin-bottom: 2px;
  justify-content: right;
  align-items: center;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.skip {
  margin-right: 18px;
  font-size: 14px;
  color: rgb(120, 120, 255);
}

.skip:hover {
  color: rgb(70, 70, 243);
  transition: all 0.5s;
}

.login {
  color: black;
  font-size: 12px;
  font-weight: 600;
  background: rgb(255, 217, 147);
  border-radius: 54px;
  padding: 7px 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30px;
  line-height: 1.1;
  margin-bottom: 2px;
}

.login:hover {
  background: rgb(255, 188, 63);
  color: #fff;
  transition: all 0.5s;
}

.navhead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.logo {
  width: 120px;
}

.logo img {
  width: 100%;
}

.navbar a {
  color: rgb(109, 109, 109);
  font-size: 1.1rem;
  margin: 1rem;
}

.navbar a:hover {
  transition: all 0.5s;
  color: orange;
}

.book a {
  color: black;
  font-size: 12px;
  font-weight: 600;
  background: rgb(255, 217, 147);
  border-radius: 54px;
  padding: 7px 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30px;
  line-height: 1.1;
  cursor: pointer;
}
.book a:hover {
  background: rgb(255, 188, 63);
  color: #fff;
  transition: all 0.5s;
}

.fa-calendar-days {
  width: 14px;
  margin-right: 9px;
}

/* Sliding Images */

.slider {
  overflow: hidden;
  height: 90vh;
  width: 100vw;
  margin: 0;
  position: relative;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  margin: 0 auto;
}

@keyframes slide_animation {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100vw;
  }
  45% {
    left: -100vw;
  }
  50% {
    left: -200vw;
  }
  70% {
    left: -200vw;
  }
  75% {
    left: -300vw;
  }
  95% {
    left: -300vw;
  }
  100% {
    left: -400vw;
  }
}

.slider-images {
  display: flex;
  width: 500vw;
  height: 100vh;
  position: relative;
  animation: slide_animation 25s infinite;
}

.img-container {
  height: 100vh;
  width: 100vw;
  flex-shrink: 0;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

.doctors {
  margin-top: 10px;
  width: 90vw;
  display: flex;
  height: 100vh;
  padding: 50px;
}

.drContainer {
  /* width: 100px; */
  height: 100px;
  display: block;
  margin: 20px;
  box-shadow: 10px solid black;
}

.doctors .drPic {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
}

.doctors .name {
  display: flex;
}
